version: '3.8'

services:
  db:
    image: postgres:16-alpine #
    container_name: E-commerceDB
    network_mode: "host"
    restart: always

    environment:
      POSTGRES_USER: root
      POSTGRES_PASSWORD: root
      POSTGRES_DB: Platform
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus
    network_mode: "host"
    command:
      - --config.file=/etc/prometheus/prometheus.yml
      - --web.enable-lifecycle
#    ports:
#      - "9090:9090"
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml
      - prometheus_data:/prometheus
    restart: always

  grafana:
    image: grafana/grafana:latest
    container_name: grafana
    network_mode: "host"
    ports:
      - "3000:3000"
    restart: always
    user: "472"
    depends_on:
      - prometheus
    volumes:
      - grafana_data:/var/lib/grafana
volumes:
  postgres_data:
  prometheus_data:
  grafana_data: